[diff]
    exclude = ["scripts"]
[data]
{{ if eq .chezmoi.os "linux" }}
    homebrewPrefix = "/home/linuxbrew/.linuxbrew"
{{ else if eq .chezmoi.os "darwin" }}
    homebrewPrefix = "/opt/homebrew"
{{ end }}
