brew "unzip"
brew "awscli"
brew "chezmoi"
brew "fzf"
brew "ghq"
brew "git"
brew "htop"
brew "jq"
brew "mise"
brew "shellcheck"
brew "starship"
brew "tree"
brew "vim"
brew "watch"
brew "wget"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"

{{ if eq .chezmoi.os "linux" }}
brew "ansible"
brew "ansible-lint"
brew "aria2"
brew "gh"
brew "postgresql@16", link: true
brew "railway"
{{ end }}
