#!/usr/bin/env bash
set -euo pipefail
# wsl.conf:   {{ include "dot_config/wsl/wsl.conf" | sha256sum }}
# .wslconfig: {{ include "dot_config/wsl/dot_wslconfig" | sha256sum }}

{{ if stat "/usr/bin/wslpath" -}}
exec {{ .homebrewPrefix }}/bin/mise run setup-wsl
{{- end }}
