#!/usr/bin/env bash
set -euo pipefail

has() {
  type "$1" > /dev/null 2>&1
}

if ! has git; then
  sudo apt update
  sudo apt install -y git gcc
fi

if ! has brew; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
brew bundle --global

{{ if eq .chezmoi.os "linux" }}
ansible-playbook -i localhost, -c local {{ .chezmoi.workingTree }}/playbook.yml --ask-become-pass
{{ end }}
