#!/usr/bin/env bash
set -euo pipefail
# Brewfile: {{ include "dot_Brewfile" | sha256sum }}

eval "$({{ .homebrewPrefix }}/bin/brew shellenv)"
brew bundle --global --cleanup --force
mise run setup-shell
